/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}


html,body {
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  max-width: 1440px;

  height: 100%;
}

/* TYPOGRAPHY */
.font {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.code {
  width: 288px;
  height: 288px;

  margin: 16px 16px 16px 16px;

  border-radius: 10px;
}

.card {
  margin: 152px auto;
  /*margin: 152px 560px 152px 560px;*/

  width: 320px;
  height: 497px;
  box-shadow: 1px 10px 22px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  background-color: hsl(0, 0%, 100%);
}

.title {
  color: #1F3251;
  text-align: center;

  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.525px;
  font-weight: 700;
  line-height: 129%;

  margin: 10px 33px 15px 33px; 
  width: 254px;
  height: 54px;
  flex-shrink: 0;

  max-width: 254px;
}

.paragrafo {
  color: #7B879D;
  text-align: center;
  font-weight: 500;

  margin: 16px 33px auto;

  width: 254px;
  max-width: 254px;
}

.attribution {
   font-size: 15px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
  }

.attribution a {
   color: hsl(159, 39%, 52%);
   text-decoration: none;
  }

